
body{
    font-family: 'Outfit';
    font-style: normal;
    background-color: #efefef;
}

header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    background: #161616;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5)
}

.header__list{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
.header__item{
    padding-right: 15px;
}
.header__link{
    text-decoration: none;
    color: white;
    font-size: 25px;
}

/* Hero style start */
.hero_info-block{
    padding-top: 200px;
    padding-bottom: 50px;
}

.wrapper__hero-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.wrapper__hero{
    padding-left: 150px;
}

.hero__text{
    font-family: 'Outfit';
    font-style: normal;
    color:rgb(18, 18, 18);
    font-size: 55px;
    padding-bottom: 50px;
}
button{
    background-color: #5D36F6;
    border-radius: 8px;
    border:none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 150px;
    cursor: pointer;
}
.show__more{
    margin-bottom: 100px;
}
/* Hero style end */

/* Project items*/
.project__Items__List{
    display: flex;
    flex-wrap: wrap;
}
.project__Item{
    padding-right: 15px;
    padding-bottom: 15px;
  
}
.project__Item:hover{
    filter: grayscale(1);
    scale: 0.99;
    transition: 0.2s;
}
.image_cover{
    max-width: 300px;
    min-width: 300px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;

}


/* Start footer */
.footer_Main {
    display: flex;
    background: #161616;
    height: 250px;
    color: white;
    left:0;
    top:0;
    width: 100%;
}

.footer__Left__Container{
    font-family: 'Outfit';
    font-style: normal;
    padding-top: 50px;
    padding-left: 150px;
}
.footerWrapper__Icons{
    padding-top: 15px;
}
.footer_icon{
    padding-right: 15px;
}
/* End footer */

@media screen and (max-width:414px) {
    .wrapper__hero{
        padding-left: 15px;
    }

    .project__Items__List{
        display: flex;
        justify-content: center;
    }
    .footer__Left__Container{
        padding-left: 70px;
    }
}